.pro{
	padding: 70px 0;
    background-color: #e0e7e460;
}
.procontainer{
	margin: auto;
}
.prorow{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 4vh;
}
.prorow ul{
	list-style: none;
}
.procol2{
	width: 100%;
}
.procol2 h1{
    text-align: center;
    font-family: 'Fourth';
    font-weight: 500;
    color: #271A65;
}
.procol{
	margin-left:28vw;
	margin-top:10px;
}
.procol ul{
    padding: 0 30px;
    align-items: center;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -10px;    
}
.procol ul li{
    padding: 0 40px; 
	margin-left: -50px; 
	font-family: 'second';
	font-size: 20px;
    color: #ac189a;
}
.prorow img{
	width: 80%;
	height: 12.5vw;
	border-radius: 10px;
	margin-left: 10%;
	/* style={{width:'70%', height:'250px',marginLeft:'15%',borderRadius:'10px'}} */
}
@media screen and (max-width:420px) {
	.pro{
		padding: 20px 0;
	}
	.procol2 h1{
		font-family: 'first';
		font-weight: 500;
		font-size: 1rem;
	}
	.procol ul{
		display: unset;
		padding: 0 0;
	}
	.procol ul li{
		padding: 0 0px; 
		margin-left: 40px;
		font-family: 'second';
		font-size: 2.6vw;
		color: #ac189a;
	}
	.prorow{
		margin-bottom: 1vh;
	}
}
